// VSCODE

.vscode
Easy/C#/bin/
Easy/C#/obj/
Easy/JAVA/*.class


Medium/C#/bin/
Medium/C#/obj/
Medium/JAVA/*.class

Hard/C#/bin/
Hard/C#/obj/
Hard/JAVA/*.class

VeryHard/C#/bin/
VeryHard/C#/obj/
VeryHard/JAVA/*.class

