// VSCODE

.vscode
/Easy/.vscode
Easy/C#/obj/Debug/
Easy/C#/obj/Debug/net6.0/c#.assets.cache
Easy/C#/obj/Debug/net6.0/c#.csproj.AssemblyReference.cache
Easy/C#/obj/Debug/net6.0/c#.GeneratedMSBuildEditorConfig.editorconfig
